
<button id="say">Echo</button>
<div id="echos"></div>

<script src="/js/socket.io.min.js"></script>
<script src="/js/socket-io-client.js"></script>

<script src="/js/click-echo-example.js"></script>

