<h1>{{> page/title}}</h1>

{{> page/nav}}

<button id="say">Echo</button>

<script src="/js/socket.io.min.js"></script>
<script src="/js/socket-io-client.js"></script>

<script src="/js/click-echo-example.js"></script>

